<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/header.css">
    <link rel="stylesheet" href="../static/style/adm.css">
    <link rel="stylesheet" href="../static/style/footer.css">
    <title>Document</title>
</head>
<body>
    <header id="header-placeholder"></header>

    <main>
        <div class="controle">
            <div class="botoesTroca">
                <button id="btnAddJogo">Cadastrar Jogo</button>
                <button id="btnAddGenero">Cadastrar Genero</button>
                <button id="btnAddDesenvolvedora">Cadastrar Desenvolvedora</button>
                <button id="btnAddDistribuidora">Cadastrar Distribuidora</button>
            </div>

            <div class="addJogo">
                <form id="CadastrarJogo">

                </form>
            </div>
            <div class="addGenero">
                <form id="CadastrarGenero">

                </form>
            </div>
            <div class="addDesenvolvedora">
                <form id="CadastrarGenero">
                    
                </form>
            </div>
            <div class="addDistribuidora">
                <form id="CadastrarDistribuidora">
                    
                </form>
            </div>
        </div>
    </main>

    <footer id="footer-placeholder"></footer>

    <script src="../js/search.js"></script>
    <script src="../js/index.js"></script>
    <script src="../js/header_footer.js"></script>
</body>
</html>