<div class="footer">
    <div class="container">
      <nav class="footer-nav">
        <ul>
          <li>
            <span>Github:</span>
            <div class="GithubL">
            <a href="https://github.com/EduardoFernandes1002" target="_blank">
              EduardoFernandes1002
            </a>
            <a href="https://github.com/EstudanteThiago12" target="_blank">
              EstudanteThiago12
            </a>
          </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>