<div class="footer">
    <div class="container">
      <nav class="footer-nav">
        <ul>
          <li>
            <a href="https://github.com/EduardoFernandes1002" target="_blank">
              GitHub: EduardoFernandes1002
            </a>
            <a href="https://github.com/EstudanteThiago12" target="_blank">
              GitHub: EstudanteThiago12
            </a>
          </li>
          <li>
            <a href="mailto:FernandesEduardo1002@gmail.com">
              Email: FernandesEduardo1002@gmail.com
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>