<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/header.css">
    <link rel="stylesheet" href="/static/style/jogo.css">
    <link rel="stylesheet" href="../static/style/footer.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>

    <title>Informações de Jogo</title>
</head>
<body>

    <header id="header-placeholder"></header>

    <main>
        <div class="controle">
            <section class="gridGame">
            <div class="gridGame1">
                <img id="gameImagem" src="" alt="Imagem do jogo">
                <div class="game">
                    <h3 id="nomeJogo"></h3>
                </div>
            </div>
            </section>

            <section class="Notas">
                <div class="notas">
                    <div class="notaTotal">
                        <span id="nota"></span>
                    </div>
                    <div class="notaPessoal">
                        <span class="data"></span>
                        <span id="notaP"></span>
                        <button id="notaPessoalEditar">
                            <i class="fa-solid fa-marker"></i>
                        </button>
                    </div>
                </div>

                <section class="Informacoes">
                    <div class="botoes-container">
                        <button id="btnSinopse" class="botao">Sinopse</button>
                        <button id="btnAvaliacoes" class="botao">Avaliações</button>
                        <button id="btnCategorias" class="botao">Categorias</button>
                    </div>
                    
                    <div id="sinopse" class="secao">
                        <p id="sinopseJogo">Descrição do jogo...</p>
                    </div>
                    <div id="avaliacoes" class="secao hidden">
                        <p>Avaliações detalhadas do jogo...</p>
                    </div>
                    <div id="categorias" class="secao hidden">
                        <p>Lista de categorias do jogo...</p>
                    </div>
                </section>
            <section>
            <div id="notaModal" class="modal hidden">
                <div class="modal-content">
                    <h3 >Avalie o Jogo</h3>
                    <input type="range" id="notaSlider" min="0" max="10" step="0.1" value="5" > 
                    <p>Sua Nota: <span id="notaDinamica">5.0</span></p>
                    <button id="salvarNota">Salvar</button>
                    <button id="fecharModal">Fechar</button>
                </div>
            </div>
        </div>
    </main>
    <footer id="footer-placeholder"></footer>

    <script src="../js/info.js"></script>
    <script src="../js/header_footer.js"></script>
</body>
</html>