<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/navbar.css">
    <link rel="stylesheet" href="/static/style/jogo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>

    <title>MGL - Informações do Jogo</title>
</head>
<body>

    <header id="navbar-placeholder"></header>

    <main>
        <section class="gridGame">
        <div class="gridGame1">
            <img id="gameImagem" src="" alt="Imagem do jogo">
            <div class="game">
                <h3 id="nomeJogo"></h3>
            </div>
        </div>
        </section>

        <section class="Informacoes">
            <div class="notas">
                <div class="notaTotal">
                    <span id="nota"></span>
                </div>
                <div class="notaPessoal">
                    <span id="notaP"></span>
                    <button id="notaPessoalEditar">
                        <i class="fa-solid fa-marker"></i>
                    </button>
                </div>
            </div>

            <div class="InfoMain">
                <p id="sinopseJogo"></p>
            </div>

            <div class="categoria">
                <!-- Aqui você pode adicionar categorias ou tags do jogo, caso tenha esse dado -->
            </div>
        </section>
    </main>

    <script src="../js/navegation_bar.js"></script>
    <script src="../js/info.js"></script>
    
</body>
</html>