<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="stylesheet" href="/static/style/loginRegister.css" />
</head>

<body>
  <div class="janelaLogin">
    <form id="loginForm">
      <div class="controle">
        <h3>Login</h3>
        <input name="login" id="email_user" placeholder="Digite seu Apelido ou Email" required autocomplete="off" />
        <input type="password" name="senha" id="password" placeholder="Digite sua Senha" minlength="8" required />
        <div class="Buttons">
          <button type="submit" id="buttonLogin">Entrar</button>
          <a href="/registro">Não possui conta? Registre-se!</a>
        </div>
      </div>
    </form>
  </div>

  <script src="../js/login.js"></script>
</body>

</html>