<div class="header">
  <div class="container">
    <nav class="nav">
      <div class="homeSearch">
        <a id="Home_Link" href="/">MyGameList</a>
        <form onkeypress="" onclick="pesquisa(event)" id="inputDiv">
          <button id="Search_btn" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
          <input
            id="Search_imp"
            type="text"
            name="Search"
            placeholder="Search Game"
            autocomplete="off"
          />
        </form>
      </div>
      <ul>
        <li>
          <a class="item" href="/rank">Rankeados</a>
        </li>
        <li>
          <a class="item" href="/infoJogos">(JogoTeste)</a>
        </li>
        <li id="userArea">
          <a class="item" id="perfil" href="/perfil" >
            <i class="fa-regular fa-circle-user"></i>
            Logado
          </a>
          <a class="item" id="login" href="/login" >Entrar</a>
          <a class="item" id="registro" href="/registro" >Registrar</a>
        </li>
      </ul>
    </nav>  
  </div>
</div>
