<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style/navbar.css" />
    <link rel="stylesheet" href="/static/style/paginaPerfil.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>

    <title>Perfil</title>
  </head>
  <body>
    <div id="navbar-placeholder"></div>

    <main id="Pagina">
      <div class="butone" >
        <a id="Opcao" title="Editar Perfil">
          <i class="fa-solid fa-user-pen"></i>
        </a>
      </div>

      <div class="idImagem">
        <img
          id="imagemUsuario"
          src="https://i.pinimg.com/originals/17/e0/fa/17e0fa49429eddae0248ba34b2992e8d.jpg"
          alt=""
        />
      </div>

      <div class="textoImage">
        <h3 id="NomeUsuario">Olá, Thiago</h3>
      </div>
      <div class="SobrePerfil">

      </div>
      <div class="Barra">
      <div class="Listas">

        <form class="Tudo">
        <div class="submit">
          <button id="btnTudo">
            Tudo
          </button>
        </div>
      </form>
      <form class="Desejo">
        <div class="submit">
          <button id="btnDesejo">
            Desejo
          </button>
        </div>
      </form>
      <form class="Jogando">
        <div class="submit">
          <button id="btnJogando">
            Jogando
          </button>
        </div>
      </form>
      <form class="Completo">
        <div class="submit">
          <button id="btnCompleto">
            Completo
          </button>
        </div>
      </form>
      <form class="Pausado">
        <div class="submit">
          <button id="btnPausado">
            Pausado
          </button>
        </div>
      </form>
      <form class="Abandonado">
        <div class="submit">
          <button id="btnAbandonado">
            Abandonado
          </button>
        </div>
      </form>
      </div>

      <form class="Review">
        <div class="submit">
          <button id="btnReview">
            Review
          </button>
        </div>
    </form>
    </div>

    
    <div class ="MensagensJogo">
      <p id="Mensagem">SEJA BEM-VINDO AO SEU PERFIL</p> 
    </div>
    </main>

    <script src="../js/navegation_bar.js"></script>
    <script src="../js/perfil.js"></script>
  </body>
</html>

