<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style/navbar.css" />
    <link rel="stylesheet" href="/static/style/paginaPerfil.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>

    <title>Perfil</title>
  </head>
  <body>
    <div id="navbar-placeholder"></div>

    <main id="Pagina">
      <div class="butone" >
        <a id="Opcao" title="Editar Perfil">
          <i class="fa-solid fa-user-pen"></i>
        </a>
      </div>

      <div class="idImagem">
        <img
          id="imagemUsuario"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDVnyWcvgQWN1T6wpGMRlqOePs4gct0vXbeQ&s"
          alt=""
        />
      </div>

      <div class="textoImage">
        <h3 id="NomeUsuario">Olá, Thiago</h3>
      </div>
      <div class="SobrePerfil">

      </div>
      <div class="Barra">
      <div class="Listas">

        <form action="">
        <div class="Tudo">
          <button id="btnTudo">
            Tudo
          </button>
        </div>
      </form>
      <form action="">
        <div class="Desejo">
          <button id="btnDesejo">
            Desejo
          </button>
        </div>
      </form>
      <form action="">
        <div class="Jogando">
          <button id="btnJogando">
            Jogando
          </button>
        </div>
      </form>
      <form action="">
        <div class="Completo">
          <button id="btnCompleto">
            Completo
          </button>
        </div>
      </form>
      <form action="">
        <div class="Pausado">
          <button id="btnPausado">
            Pausado
          </button>
        </div>
      </form>
      <form action="">
        <div class="Abandonado">
          <button id="btnAbandonado">
            Abandonado
          </button>
        </div>
      </form>
      </div>

      <div class="reviewDiv">
        <button>
          Review
        </button>
      </div>
    </div>
    <!-- Área de informações que será atualizada dinamicamente -->
    <div id="telaInformacoes" class="tela">
      <h1>Informações do Banco de Dados</h1>
      <ul id="listaInformacoes">
        <!-- Dados serão inseridos aqui via JavaScript -->
      </ul>
    </div>
    </main>

    <script src="/js/navegation_bar.js"></script>
  </body>
</html>

<script src="js/navbar.js"></script>
