<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style/header.css" />
    <link rel="stylesheet" href="../static/style/rank.css" />
    <link rel="stylesheet" href="../static/style/footer.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <title>Ranking de Jogos</title>
  </head>
  <body>
    <header id="header-placeholder"></header>

    <main>
      <h2>Ranking de Jogos</h2>
      <ul id="rank" class="rank"></ul>
    </main>

    <footer id="footer-placeholder"></footer>

    <script src="../js/rank.js"></script>
    <script src="../js/header_footer.js"></script>
  </body>
</html>
