html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: #4c526e;
  }

main{
    box-sizing: border-box;
}

.idImagem{
    width: 100%;
    display: flex;
    justify-content: center;
}  
.idImagem img{

    border-radius: 100%;
    width: 20vh;
    margin: 1vh;
    box-sizing: border-box;
    border: 0.3vw solid rgb(200, 197, 212);

}
.textoImagem{
    display: flex;
    width: 100%;
    
}
#NomeUsuario{
    text-align: center;
    font-size: 2vh;
    margin: 0.5vh;
    color: rgba(255, 255, 255, 0.959);
    font-family: sans-serif;

}

.butone{
    box-sizing: border-box;
    display: flex;
    justify-content: end;
    width: 100%;
    position: absolute;
}

.butone a {
    margin: 1vw;
    font-size: 3vh;
    cursor: pointer;
}

.SobrePerfil{

    height: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 3vh;
    font-size: 4vh;
    color: white;
    font-family: sans-serif;

}
.SobrePerfil #MinhasListas{

    padding: 10px;
    border-radius: 5px;
    background-image: linear-gradient(#202438, #202438), linear-gradient(to right, #c7c5db, #3936cf);
    padding: 10px;
    border-radius: 5px;
    width: 700px;
    text-align: center; 
    
}
.SobrePerfil #MinhasR{
    padding: 10px;
    border-radius: 5px;
    background-image: linear-gradient(#202438, #202438), linear-gradient(to right, #1b0ced, #3936cf);
    padding: 10px;
    border-radius: 5px;
    width: 700px;
    text-align: center;

}





