html {
    height: 100%;
}

body {
    background-color: #464d6a;
    display: flex;
    min-height: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
}

h3 {
    margin: 1rem;
    color: #ffffff;
    font-size: 2.4rem;
}

.janelaRegistro {
    box-sizing: border-box;
    width: auto;
    height: auto;
    background-color: #343c53;
    display: flex;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.campoDePreenchimento {
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#coluna1 {
    width: 100%;
    display: grid;
    grid-row: 2;
    gap: 1rem
}

#e mail {
    width: 100%;
}

#user {
    width: 100%;
}

#password {
    grid-column: auto;
}

.Buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.6rem;
    gap: 1rem;
    flex-direction: column;
}

.controle {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}

#registrar {
    border: none;
    height: 2rem;
    width: 50%;
    border-radius: 18px;
    background: #616088;
}

#registrar:hover {
    background: #6c6ba5;
    cursor: pointer;
}

a {
    color: #989baa;
    text-decoration: none;
    font-size: 0.8rem;
}

a:hover {
    color: #7981a0;
}

input {
    border: none;
    height: 25px;
    text-align: center;
    border-radius: 18px;
    background-color: #2a3144;
}

input::placeholder {
    color: #6e7ca5;
}