<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/navbar.css">
    <link rel="stylesheet" href="/static/style/jogo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>

    <title>MGL, </title>
</head>
<body>

    <div id="navbar-placeholder"></div>

    <main>
        <section class="gridGame"></section>
        <div class="gridGame1">
            <img id="gameImagem" src="/static/images/Rimworld.jpg" alt="Rimworld">

            <div class="gameAndNota">
                <h3 id="nomeJogo">Rimworld</h3>
            </div>

        </div>
    </section>
        <div class="InfoMain">
            
        </div  >
        <div class="categoria">
        </div>
        <div>
            
        </div>
    </main>
    
    <script src="/js/navegation_bar.js"></script>
    <script src="/js/info.js"></script>
</body>
</html>