<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/navbar.css">
    <link rel="stylesheet" href="/static/style/jogo.css">
    <title>MGL, </title>
</head>
<body>

    <div id="navbar-placeholder"></div>

    <main>
        <div>
            <img src="/static/images/Rimworld.jpg" alt="Imagem Rimworld">
            <h3>Rimworld</h3>
        </div>
        <div>
            <div></div>
            <div></div>
            <div></div>
            <p></p>
        </div>
        <div>
            <fieldset>
                <legend>Sinopse</legend>
            </fieldset>
            

            </p>
        </div>
        <div>
            
        </div>
    </main>
    
    <script src="/js/navegation_bar.js"></script>
    <script src="/js/info.js"></script>
</body>
</html>