<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/navbar.css">
    <link rel="stylesheet" href="/static/style/jogo.css">
    <title>MGL, </title>
</head>
<body>

    <div id="navbar-placeholder"></div>

    <main>
        <section class="gridGame"></section>
        <div id="gridGame1">
            <img id="gameImagem" src="/static/images/Rimworld.jpg" alt="Rimworld">
            <h3 id="nomeJogo">Rimworld</h3>
            <span id="Nota"></span>
        </div>
    </section>
        <div id="InfoMain">
            
        </div>
        <div>
            <fieldset>
                <legend>Sinopse</legend>
            </fieldset>
            

            </p>
        </div>
        <div>
            
        </div>
    </main>
    
    <script src="/js/navegation_bar.js"></script>
    <script src="/js/info.js"></script>
</body>
</html>