<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style/login.css">
</head>

<body>

    <body>
        <div class="TelaLogin">
            <form action="loginForm" onsubmit="processarLogin(event)">
                <div class="ControleDeDiv">
                    <h3 id="Login">SEJA BEM VINDO</h3>

                    <input name="email_user" id="email_user" placeholder="Digite seu Usuario ou Email" required />

                    <input type="password" name="password" id="password" placeholder="Digite sua Senha" minlength="8"
                        required />

                    <div class="Buttons">
                        <button type="submit" id="ButtonLogin">Entrar</button>

                        <a href="registro.html">Não Possui conta? Registre-se! </a>
                    </div>
                </div>
            </form>
        </div>
    <script src="/js/login.js"></script>
    </body>

</html>