<header id="header">
    <div class="container">
        <nav class="nav">
            <div id="homeSearch">
                <a id="Home_Link" href="./index.html">MyGameList</a>
                <button id="Search_btn">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <input id="Search_imp" type="text" name="Search" placeholder="Search Game">
            </div>
            <ul>
                <li>
                    <a href="paginas/rank.html">Rankeados</a>
                </li>
                <li>
                    <a href="paginas/rank.html">Rankeados</a>
                </li>
                <li>
                    <a href="paginas/rank.html">Rankeados</a>
                </li>
            </ul>
        </nav>
    </div>

</header>