<header id="header">
    <div class="container0">
        <a id="Home_Link" href="./index.html">MyGameList</a>
        <div class="menu">
            <button id="login_btn">
                <i class="fa-solid fa-right-to-bracket"></i>
                <a href="login.html">Sign in</a>
            </button>
            <button id="register_btn">
                <i class="fa-regular fa-id-card"></i>
                <a href="registro.html">Sign Up</a>
            </button>
        </div>
    </div>
</header>

<nav class="nav">
    <div class="container2">
        <div class="linkr">
            <a href="paginas/rank.html">Ranking</a>
        </div>
        <div class="button">
            <button id="Search_btn">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <input id="Search_imp" type="text" name="Search" placeholder="Search Game">
        </div>
    </div>
</nav>