<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style/registro.css">
</head>

<body>
    <div class="janelaRegistro">
        <h3>REGISTRO</h3>
        <form action="registerForm" onsubmit="processarRegistro(event)">
            <div class="controle">
                <div class="campoDePreenchimento">
                    <div id="coluna1">
                        <input type="email" name="email" id="email" placeholder="Email" required>

                        <input type="text" name="nickname" id="nickname" maxlength="20" minlength="4"
                            placeholder="Nickname" required>
                    </div>
                    <div id="coluna2">
                        <input type="password" name="password" id="password" minlength="8" placeholder="Password"
                            required>

                        <input type="password" name="passwordConfirm" id="passwordConfirm"
                            placeholder="Confirm Password" required>
                    </div>


                </div>
                <div class="Buttons">
                    <button type="submit" id="registrar">Registrar</button>
                    <a href="login.html" id="loginPage">Possui conta? Entre!</a>
                </div>
            </div>
        </form>
    </div>


    <script src="/js/registro.js"></script>
</body>

</html>