html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: #3c4157;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

main {
  box-sizing: border-box;
  flex: 1;
}

/* Exibir quando ativo */
.cadastros:not(.hidden) {
  display: block;
}

/* Ocultar elementos */
.hidden {
  display: none;
}