.footer {
    width: 100%;
    background-color: #202438;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-top: 10vh;
    bottom: 0;
  }
  
  .footer-nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 2vw;
  }
  
  .footer-nav li {
    font-size: 2vh;
    font-family: Arial, sans-serif;
  }
  
  .footer-nav a {
    color: aliceblue;
    text-decoration: none;
    padding: 0.5vh 1vw;
  }
  
  .footer-nav a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 1vh;
  }