html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: #3c4157;
}
.JogosRecomendados{

  display: flex;
  height: 2vh;
}

.JogosRecomendados img{

  display: flex;
  height: 35vh;
  width: 30vh;
  justify-content: space-between;
}
.main{
   display: flex;
   border: 10vh;
   margin: 10vh;
}
img{
  display: flex;
  justify-content: space-between;
  margin: 6vh;
  border-radius: 2vh;
  outline: 0.4vh solid #202438;
}

.jogoDiv a {
  display: flex;
  align-items: center;
}
