html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: #3c4157;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

main {
  display: grid;
  margin: 0;
  flex: 1;
}

.gridGame1 {
  width: 100%;
  height: 35vh;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.747);
}

.game {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(transparent, rgb(0, 0, 0, 0.8));
  color: rgba(255, 255, 255, 0.849);
  font-size: 3vh;
}

.game h3 {
  position: absolute
  ;
  margin: 0;
  left: 10vw;
  top: 15vh;
}

#gameImagem {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: contain;
  object-position: center;
  grid-row-start: 1;
  grid-row-end: 3;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #272c44;
  padding: 1vw;
  border-radius: 1vh;
  text-align: center;
  width: 20vw;
  height: 40vh;
  font-size: 3vh;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  align-items: center;
  justify-content: center;
}
.modal-content p, .modal-content h3 {
  margin: 0;
}

input[type="range"] {
  width: 100%;
}

.Informacoes {
  margin: 4vh auto;
  width: 90vw;
  font-size: 2vh;
}

.botoes-container button {
    width: 20vh;
    font-size: 2vh;
}

.secao {
  padding: 0.3vh 3vh 0.3vh 3vh;
  margin: 0 auto;
  background-color: #202438;
  color: white;
  border-radius: 1vh;
  text-align: justify;
  margin-bottom: 6vh;
}


.botoes-container {
  margin-left: 1vw;
  display: flex;
  gap: 0.3vh;
  margin-bottom: 0;
}

.botao {
  padding: 1vh 1vw;
  cursor: pointer;
  background-color: #272c44;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 1vh 1vh 0 0;
}

.botao:hover {
  background-color: #202438;
  transition: 0.2s ease-in;
}

.botao.active {
  background-color: #202438; 
}

#sinopse {
  display: none;
}

.notas {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 68vw;
  bottom: 2vh;
  gap: 1vh;
}

.notaPessoal {
  display: flex;
  font-size: 3vh;
  color: white;
  flex-direction: column;
}

.notaPessoal div {
  display: flex;
  gap: 0.5vh;
}

.notaPessoal p {
  margin: 0;
}

#notaPessoalEditar {
  display: flex;
  background-color: transparent;
  font-size: 1.8vh;
  margin: 0;
  align-items: start;
  justify-content: flex-end;
  color: white;
  border: none;
  cursor: pointer;
  width: 1vw;
  height: 2vh;
  padding: 0;
}
.notaTotal {
  display: flex;
  justify-self: flex-end;
  justify-self: end;
  font-size: 5vh;
  color: #ffffff;
}

#salvarNota {
  background-color: #202438;
  color: white; 
  border: none; 
  border-radius: 2vh;
  padding: 1vh 2vh;
  font-size: 2vh;
  font-weight: bold;
  cursor: pointer; 
  transition: background-color 0.3s ease, transform 0.2s ease; 
}

#salvarNota:hover {
  background-color: #181b2b; 
  transform: scale(1.05);
}
#fecharModal {
  background-color: #202438; 
  color: white;
  border: none; 
  border-radius: 2vh;
  padding: 1vh 2vh;
  font-size: 2vh; 
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btnModal {
  display: flex;
  gap: 2vw;
}

#fecharModal:hover {
  background-color: #181b2b;
  transform: scale(1.05);
}

[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%; 
  height: 2vh;
  background: #3c4157; 
  border-radius: 1vh; 
  outline: none; 
  cursor: pointer; 
  margin: 0;
}

[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2.6vh;
  height: 2.6vh;
  background: #3c4157; 
  border: 0.3vh solid #ffffff;
  border-radius: 50%; /* Formato circular */
  box-shadow: 0vw 0vw 1vw rgba(0, 0, 0, 0.4);
  position: relative;
}

[type="range"]::-moz-range-thumb {
  width: 1vw;
  height: 2vh;
  background: #f39c12;
  border: 0.3vh solid #ffffff;
  border-radius: 50%;
  box-shadow: 0vw 0vw 0.8vw rgba(0, 0, 0, 0.4);
}

[type="range"]:hover {
  background: #ffffff26;
}

[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.2);
  background: #34363f;
}

[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0px 0px 0.8vw rgba(0, 0, 0, 0.557);
}

.modal p,
h3 {
  color: #ffffff;
}

select {
  background-color: #1a1e2f;
  color: #ffffff;
  padding: 0.5vh 1vw;
  border: none;
  border-radius: 0.5vh;
  font-size: 1.5vh;
  font-weight: bold;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  display: flex;
  text-align: center;
  align-self: center;
}

select:hover {
  background-color: #202438;
}

select:focus {
  outline: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.564);
}

select option[disabled][selected] {
  color: #888;
}