html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: #3c4157;
}

main {
  display: grid;
  margin: 0;
}

.gridGame1 {
  width: 100%;
  height: 35vh;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  position: relative;
  background-image: url("/static/images/Rimworld.jpg");
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  /* Mistura a cor preta com a imagem */
  background-color: rgba(0, 0, 0, 0.747);
}

.game {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(transparent, rgb(0, 0, 0, 0.8));
  color: rgba(255, 255, 255, 0.849);
  font-size: 3vh;
}

.game h3 {
  margin: 0;
}

#gameImagem {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: contain;
  object-position: center;
  grid-row-start: 1;
  grid-row-end: 3;
}