/* Estilos Gerais */
html {
  height: 100%;
}

body {
  background: #4c526e;
  min-height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: "Cambria", serif;
}

.janelaLogin,
.janelaRegistro {
  padding: 1vw;
  background-color: #202438;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: auto;
  align-items: center;
  border-radius: 1vw;
}

h3 {
  font-size: 2vw;
  text-align: center;
  margin: 1vh;
  color: #ffffff;
  font-style: oblique;
}

input {
  text-align: center;
  border: none;
  background-color: #7a839c;
  border-radius: 1vw;
  height: 4vh;
  margin: 1vh 0;
  padding: 0 1vh;
  color: #ffffff;
  font-size: 1vw;
}

input::placeholder {
  color: #ffffff;
}

.controle {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.Buttons {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  align-items: center;
}

.Buttons button {
  font-size: 1.1vw;
  background-color: #476881;
  border: none;
  border-radius: 2vh;
  height: 1.8vw;
  width: 100%;
  color: #ffffff;
  cursor: pointer;
  font-weight: 600;
}

.Buttons button:hover {
  background-color: #476881b0;
}

a {
  color: #989baa;
  text-decoration: none;
  font-size: 0.8vw;
}

a:hover {
  color: #ffffff;
}

.campoDePreenchimento {
  display: flex;
  gap: 0.4vw;
  flex-direction: column;
}

#campo1 {
  display: grid;
  grid-row: 1fr 1fr;
}

#campo2 {
  display: flex;
  gap: 0.5vh;
}