html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: #4c526e;
  }

main{
    box-sizing: border-box;
}

.idImagem{
    
    width: 100%;
    display: flex;
    justify-content: center;
}  
.idImagem img{

    border-radius: 50%; /* Circular */
    height: 20vh; /* Altura fixa igual à largura */
    box-sizing: border-box;
    border: 0.3vw solid rgb(200, 197, 212);
    object-fit: cover;
    width: 20vh;
    margin: 1vh;

}
.textoImagem{
    display: flex;
    width: 100%;
    
}
#NomeUsuario{
    text-align: center;
    font-size: 2vh;
    margin: 0.5vh;
    color: rgba(255, 255, 255, 0.959);
    font-family: sans-serif;

}

.butone{
    box-sizing: border-box;
    display: flex;
    justify-content: end;
    width: 100%;
    position: absolute;
}

.butone a {
    margin: 1vw;
    font-size: 3vh;
    cursor: pointer;
}

.SobrePerfil{

    height: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 3vh;
    font-size: 4vh;
    color: white;
    font-family: sans-serif;

}

.Listas{
    display: flex;
    box-sizing: border-box;
}

.Barra {
    margin: 1vh;
    background-color: #202438;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
}
.Barra button{
    margin: 1vh ;
    gap: 1vh;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 2vh;
    width: 8vw;
    height: 5vh;
    justify-content: center;
    align-items: center;
}

.Barra button:hover{
    background:#191c2c;
}
.Listas {
    margin: 1vw;
}