html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: #4c526e;
  }

main{
    box-sizing: border-box;
}

.idImagem{
    
    width: 100%;
    display: flex;
    justify-content: center;
}  
.idImagem img{

    border-radius: 50%; /* Circular */
    height: 20vh; /* Altura fixa igual à largura */
    box-sizing: border-box;
    border: 0.3vw solid rgb(200, 197, 212);
    object-fit: cover;
    width: 20vh;
    margin: 1vh;

}
.textoImagem{
    display: flex;
    width: 100%;
    
}
#NomeUsuario{
    text-align: center;
    font-size: 2vh;
    margin: 0.5vh;
    color: rgba(255, 255, 255, 0.959);
    font-family: sans-serif;

}

.butone{
    box-sizing: border-box;
    display: flex;
    justify-content: end;
    width: 100%;
    position: absolute;
}

.butone a {
    margin: 1vw;
    font-size: 3vh;
    cursor: pointer;
}

.SobrePerfil{

    height: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 3vh;
    font-size: 4vh;
    color: white;
    font-family: sans-serif;

}

.Listas{
    box-sizing: border-box;
    display: flex;
    height: 5vh;
}

.Barra {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    height: 5vh;  
    align-items: center;
    border: none;

    
}
.Barra button{
    width: 10vw;
    background: #202438;
    color: #ffffff;
    font-size: 2vh;
    border: none;
    cursor: pointer;
}
.Listas button:hover{
    background:#4d547a;
}

.reviewDiv button{

    width: 15vh;        
    padding: 1vh;
    background: #202438;
    background-clip: padding-box;
    color: #ffffff;
    box-shadow: 0 4vh 10vh rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
    font-size: 2vh;
    border: none;
    cursor: pointer;
}
.reviewDiv button:hover{
    background:#4d547a;
}

.Listas div {
    width: max-content;
    height: max-content;
    box-sizing: border-box;
}
