html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: #3c4157;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

main{
  flex: 1;
}

img {
  width: 14vw; /* Ajustando a largura da imagem para 8vw */
  height: 14vh; /* Ajustando a altura da imagem para 6vh */
  border-radius: 1.5vw; /* Borda arredondada nas imagens */
  object-fit: cover; /* Garantir que a imagem se ajuste bem ao tamanho */
}

.ranking {
  display: flex;
  align-items: center;
  padding: 1.4vh;
  background-color: #191b27; /* Fundo escuro para o ranking */
  border-radius: 2vw;
  margin-bottom: 2vh;
  max-width: 60vw;
  width: 100%;
  gap: 0.8vw;
}

.jogo {
  display: flex;
  background-color: #343c53; /* Cor de destaque ao passar o mouse */
  width: 100%;
  border-radius: 2vw;
  padding: 1.4vh;
}

.jogo:hover {
  background-color: #292f42; /* Cor de destaque ao passar o mouse */
}

.rank {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Garante 2 itens por linha */
  gap: 2vw; /* Espaçamento entre os itens */
  align-items: center;
  justify-items: center;
  padding: 2vw;
}

.posicao {
  display: flex;
  background-color: #373e44; /* Cor de fundo para os itens não clicáveis */
  margin: 1.5vh;
  border-radius: 50%;
  width: 3.2vw;
  height: 3.2vw;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 3vh;
}

.jogo .info p {
  margin-left:5%;
  padding: 0;
  align-self: flex-start;
  text-wrap: wrap;
  width: 20vw;
}

.jogo .info {
  display: flex;
  align-items: start;
  font-weight: bold;
  font-size: 2.5vh;
  color: aliceblue; /* Texto claro */
  justify-content: space-between;
  width: 100%;
}

.jogo .score {
  font-size: 2vh;
  color: #f39c12; /* Pontuação destacada com cor laranja */
}

.jogo .score span {
  font-weight: bold;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 5vh;
  width: 90vw;
  flex:1;
}

h2 {
  text-align: center;
  color: aliceblue; /* Cor clara para o título */
  font-size: 5vh;
  margin-bottom: 3vh;
}

#botao-proximo {
  background-color: #202438; /* Cor escura para o botão */
  color: white;
  border: none;
  padding: 2vh 4vw;
  font-size: 2.2vh;
  border-radius: 1vw;
  cursor: pointer;
  margin-top: 4vh;
}

#botao-proximo:hover {
  background-color: #292d47; /* Efeito de hover para o botão */
}

#botao-proximo:disabled {
  background-color: #5f6774; /* Cor desativada para o botão */
  cursor: not-allowed;
}
