html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: #3c4157;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

main{
  flex: 1;
}

img {
  width: 14vw;
  height: 14vh;
  border-radius: 1.5vw;
  object-fit: cover;
}

.ranking {
  display: flex;
  align-items: center;
  padding: 1.4vh;
  background-color: #191b27;
  border-radius: 2vw;
  margin-bottom: 2vh;
  max-width: 60vw;
  width: 100%;
  gap: 0.8vw;
}

.jogo {
  display: flex;
  background-color: #343c53;
  width: 100%;
  border-radius: 2vw;
  padding: 1.4vh;
}

.jogo:hover {
  background-color: #292f42;
}

.rank {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2vw;
  align-items: center;
  justify-items: center;
  padding: 2vw;
}

.posicao {
  display: flex;
  background-color: #373e44;
  margin: 1.5vh;
  border-radius: 50%;
  width: 3.2vw;
  height: 3.2vw;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 3vh;
}

.jogo .info p {
  margin-left:5%;
  padding: 0;
  align-self: flex-start;
  text-wrap: wrap;
  width: 20vw;
}

.jogo .info {
  display: flex;
  align-items: start;
  font-weight: bold;
  font-size: 2.5vh;
  color: aliceblue;
  justify-content: space-between;
  width: 100%;
}

.jogo .score {
  font-size: 2.3vh;
  color: #15ff00;
}

.jogo .score span {
  font-weight: bold;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 5vh;
  width: 90vw;
  flex:1;
}

h2 {
  text-align: center;
  color: aliceblue; /* Cor clara para o título */
  font-size: 5vh;
  margin-bottom: 3vh;
}

#botao-proximo {
  background-color: #202438; /* Cor escura para o botão */
  color: white;
  border: none;
  padding: 2vh 4vw;
  font-size: 2.2vh;
  border-radius: 1vw;
  margin-top: 1vh;
  margin-bottom: 4vh;
  cursor: pointer;
  display: flex;
  justify-self: center;
}

#botao-proximo:hover {
  background-color: #292d47; /* Efeito de hover para o botão */
}

#botao-proximo:disabled {
  background-color: #5f6774; /* Cor desativada para o botão */
  cursor: not-allowed;
}

#botao-anterior{
  background-color: #202438; /* Cor escura para o botão */
  color: white;
  border: none;
  padding: 2vh 4vw;
  font-size: 2.2vh;
  border-radius: 1vw;
  margin-top: 1vh;
  margin-bottom: 4vh;
  cursor: pointer;
  display: flex;
  justify-self: center;
}
#botao-anterior:hover {
  background-color: #292d47; /* Efeito de hover para o botão */
}
#botao-anterior:disabled {
  background-color: #5f6774; /* Cor desativada para o botão */
  cursor: not-allowed;
}